/* .fi-main {
    max-width: 100% !important;
} */

.fi-ac {
    flex-direction: column;
}

.fi-main .fi-modal-window {
    max-width: 800px;
}

.fi-fieldset {
    .fi-fo-component-ctn {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 18px;
    }
}

.fi-ta-cell, .fi-input, .fi-select-input, .fi-ta-cell div{
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
    border-radius: 0% !important;
    }

/* .flex{
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    gap: 3px !important;

} */
.fi-tabs{
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.fi-header-heading{
    font-size: 1.5rem !important;
}
